.section {
    min-height: 100dvh;
    background-color: black;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: .5s all ease-in;
}


.section::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}

.section.finish {
    opacity: 0;
}