.wrapper {
    position: relative;
}

.input {
    padding: 9px 10px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid var(--gray);
    background-color: transparent;
    color: var(--primary-color);
}

.input[type=button] {
    text-align: start;
    color: var(--secondary-color);
}


.input.error {
    border: 1px solid #c91616;
}

.input.error::placeholder {
    color: #c91616;
}

.input::placeholder {
    color: var(--secondary-color);
}

.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
}